
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
@*<link rel="stylesheet" href="dist/themes/proton/style.css"/>*@

<div class="row">
    <div class="card card-tree">
        <div class="card-body">
            <div id="jstree"></div>
        </div>
    </div>

    <script type="text/javascript">
        $('#jstree').jstree({
            "core": {
                "animation": 0,
                "check_callback": true,
                'force_text': true,
                'data': @Html.Raw(ViewBag.Json)
            },
            "plugins": ["state", "unique", "types", "wholerow"]
        });
    </script>

    <div class="card card-content">
        <div class="card-header">
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">File 1</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">File 2</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label for="tab-btn-3">File 3</label>

                <div id="content-1">
                    Content 1
                </div>
                <div id="content-2">
                    Content 2
                </div>
                <div id="content-3">
                    Content 3
                </div>
            </div>
        </div>
    </div>
</div>
